on early-init
    setenforce 0

on init
    start touchyfix
    export ENV PS1='root@A03BR:/\$'

service touchyfix /sbin/touchyfix /dev/input/event1 affine_auto 800 -33 -33
    class core
    user root
    group root
    disabled
