/sys/devices/virtual/input/input* active 0660 root input
/sys/devices/virtual/input/input* interval 0660 root input
/sys/devices/virtual/input/input* wake 0660 root input

# cpufreq
# cpufreq customize governor parameters
## ondemand
/sys/devices/system/cpu/cpufreq ondemand/sampling_rate 0644 system root
/sys/devices/system/cpu/cpufreq ondemand/up_threshold 0644 system root
/sys/devices/system/cpu/cpufreq ondemand/powersave_bias 0644 system root
/sys/devices/system/cpu/cpufreq ondemand/ignore_nice_load 0644 system root
/sys/devices/system/cpu/cpufreq ondemand/io_is_busy 0644 system root
/sys/devices/system/cpu/cpufreq ondemand/sampling_down_factor 0644 system root

## conservative
/sys/devices/system/cpu/cpufreq conservative/down_threshold 0644 system root
/sys/devices/system/cpu/cpufreq conservative/freq_step 0644 system root
/sys/devices/system/cpu/cpufreq conservative/sampling_rate 0644 system root
/sys/devices/system/cpu/cpufreq conservative/up_threshold 0644 system root
/sys/devices/system/cpu/cpufreq conservative/ignore_nice_load 0644 system root
/sys/devices/system/cpu/cpufreq conservative/sampling_down_factor 0644 system root

## interactive
/sys/devices/system/cpu/cpufreq interactive/above_hispeed_delay 0644 system root
/sys/devices/system/cpu/cpufreq interactive/boost 0644 system root
/sys/devices/system/cpu/cpufreq interactive/boostpulse 0644 system root
/sys/devices/system/cpu/cpufreq interactive/boostpulse_duration 0644 system root
/sys/devices/system/cpu/cpufreq interactive/go_hispeed_load 0644 system root
/sys/devices/system/cpu/cpufreq interactive/hispeed_freq 0644 system root
/sys/devices/system/cpu/cpufreq interactive/min_sample_time 0644 system root
/sys/devices/system/cpu/cpufreq interactive/target_loads 0644 system root
/sys/devices/system/cpu/cpufreq interactive/timer_rate 0644 system root
/sys/devices/system/cpu/cpufreq interactive/timer_slack 0644 system root
/sys/devices/system/cpu/cpufreq interactive/io_is_busy 0644 system root
